<daemon>
    <cmd>painting_assimilator.py -app paintingcrack -d 3</cmd>
    <pid_file>painting_assimilator</pid_file>
    <output>painting_assimilator</output>
</daemon>
<daemon>
    <cmd>script_validator --app paintingcrack -d 3 --init_script dummy_script.py --compare_script painting_validator.py </cmd>
    <pid_file>paintingcrack</pid_file>
    <output>paintingcrack</output>
</daemon>